@import "@heyforms/ui/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
}

.scrollbar {
  overflow-y: auto;
  overflow-y: overlay;
  scrollbar-gutter: stable;

  @media (min-width: 768px) {
    &::-webkit-scrollbar {
      height: 12px;
      width: 12px
    }

    &::-webkit-scrollbar-thumb:vertical {
      background-color: transparent;
      border-radius: 6px
    }

    &:hover::-webkit-scrollbar-thumb:vertical {
      border: 3px solid transparent;
      background-color: rgba(0, 0, 0, .2);
      background-clip: content-box;
    }

    &::-webkit-scrollbar-button:vertical {
      display: block
    }

    &::-webkit-scrollbar-button:start:decrement {
      display: block
    }

    &::-webkit-scrollbar-button:end:increment {
      display: block
    }

    &::-webkit-scrollbar-button:vertical:start:increment {
      display: none
    }

    &::-webkit-scrollbar-button:vertical:end:decrement {
      display: none
    }

    &::-webkit-scrollbar-button:vertical:increment {
      display: none
    }

    &::-webkit-scrollbar-button:vertical:decrement {
      display: none
    }

    &::-webkit-scrollbar-track:vertical {
      display: none
    }

    &::-webkit-scrollbar-track-piece {
      background-color: transparent
    }

    &::-webkit-scrollbar-corner:vertical {
      background-color: transparent
    }

    &::-webkit-scrollbar-resizer:vertical {
      background-color: transparent
    }
  }
}

@keyframes skeleton {
  from {
    background-position: 100% 50%
  }

  to {
    background-position: 0 50%
  }
}

.skeleton {
  background: linear-gradient(90deg, #e2e8f0 25%, #cbd5e1 37%, #e2e8f0 63%);
  background-size: 400% 100%;
  animation: skeleton 1.4s ease infinite;
}

.non-scaling-stroke {
  ellipse,
  path,
  polyline,
  circle,
  line,rect {
    vector-effect: non-scaling-stroke;
  }
}

.tooltip {
  z-index: 9999;
}

.link-button {
  @apply px-4 py-2 border border-slate-300 shadow-sm text-base sm:text-sm font-medium rounded-md text-slate-700 bg-white hover:bg-slate-100;
}

.link-button-success {
  @apply text-white border-none bg-green-500 hover:bg-green-600 focus:ring-green-500 active:bg-green-600;
}

.link-button-disabled {
  @apply opacity-60 cursor-default hover:bg-white;
}

.select-open .select-button,
.select-open button.select-button,
.select-native:focus,
.select-button:focus,
button.select-button:focus,
button.button:not(:disabled):focus {
  @apply ring-green-500 border-green-500;
}

.input-focused {
  @apply ring-green-500 border-green-500;
}

.input input {
  @apply placeholder-slate-400;
}

button.switch:focus {
  @apply ring-green-500;
}

button.switch-checked {
  @apply bg-green-500;
}

.switch-group {
  button.switch-button {
    @apply px-1.5 py-1.5 text-slate-500 hover:text-slate-500;

    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }

    &.switch-button-active {
      @apply text-slate-900 hover:text-slate-900;
    }
  }
}

.stepper-item-active .stepper-icon-container,
.stepper-item-completed .stepper-icon-container {
  @apply border-green-500;
}

.stepper-item-active .stepper-index,
.stepper-item-completed .stepper-index,
.stepper-item-active .stepper-label,
.stepper-item-completed .stepper-label,
.stepper-icon {
  @apply text-green-500;
}

.tabs-nav-active,
.tabs-nav-active:hover {
  @apply text-green-500 border-green-500;
}

.select-option-checkmark {
  @apply text-green-500;
}

.table-body {
  td {
    @apply font-normal text-slate-900;
  }
}

.table-expanded-row {
  @apply border-none hover:bg-transparent #{!important};
}

.form-inline {
  @apply mt-1;

  .form-item-content {
    @apply mt-0;
  }
}

.form-item-label {
  @apply font-semibold;
}

.reactour__popover {
  @apply rounded-lg;
}

.reactour__close-button {
  @apply text-slate-700 hover:text-slate-800;
}

.root-container {
  @media (min-width: 768px) {
    padding-left: 18rem;
  }
}

.expandable {
  .input,
  .textarea,
  .select {
    @apply max-w-[32rem];
  }

  .form-item-label {
    @apply font-medium;
  }

  &.expandable-advanced {
    .form-item-label {
      @apply text-base font-bold;
    }
  }

  .input,
  .textarea {
    @apply bg-white;
  }

  .form-item:nth-last-of-type(1) {
    @apply mb-0;
  }
}

// =================================================================================
// Home
.home-container {
  background-image: url(/static/site_bg.jpg);
  background-size: auto;
  @apply bg-white;
}

.header-sticky {
  .header-container {
    @apply bg-slate-100;
  }
}


// =================================================================================
// Sidebar
.sidebar {
  @media (min-width: 768px) {
    width: 18rem;
  }
}

.slide-in-left-enter-active,
.slide-in-left-exit {
  .sidebar-overlay {
    @apply opacity-100;
  }

  .sidebar-wrapper {
    @apply translate-x-0;
  }
}

.slide-in-left-enter,
.slide-in-left-exit-active,
.slide-in-left-exit-done {
  .sidebar-overlay {
    @apply opacity-0;
  }

  .sidebar-wrapper  {
    @apply -translate-x-full;
  }
}

.slide-in-left-exit-done {
  @apply hidden #{!important};
}

.slide-in-right-enter-active,
.slide-in-right-exit {
  .sidebar-overlay {
    @apply opacity-100;
  }

  .sidebar-wrapper {
    @apply translate-x-0;
  }
}

.slide-in-right-enter,
.slide-in-right-exit-active,
.slide-in-right-exit-done {
  .sidebar-overlay {
    @apply opacity-0;
  }

  .sidebar-wrapper  {
    @apply translate-x-full;
  }
}

.slide-in-right-exit-done {
  @apply hidden #{!important};
}

.product-dropdown {
  .avatar .avatar-text {
    @apply text-sm;
  }
}

// =================================================================================
// Member
.member-table {
  .table-body {
    tr {
      @apply hover:bg-transparent;
    }

    td {
      @apply px-0;
    }
  }

  .button {
    @apply px-3.5 py-1;
  }
}

// =================================================================================
// Photo picker
.photo-picker {
  .modal-body {
    @apply p-0 overflow-hidden;
  }

  .modal-close-button {
    @apply top-3 right-5;
  }

  .tabs-wrapper {
    @apply flex flex-col;
  }

  .tabs-nav-list {
    @apply px-4;
  }

  .tabs-pane-group {
    @apply h-96;
    @extend .scrollbar;
  }

  .tabs-pane {
    @apply h-full p-4;
  }

  .drag-uploader {
    @apply h-full;
  }
}

// =================================================================================
// Builder
.insert-block-popup {
  .input-focused {
    @apply ring-0 outline-0 shadow-none border-gray-100 #{!important};
  }
}

.block-card {
  @apply flex items-center py-1.5 pr-1.5 rounded-md cursor-pointer select-none;

  &:hover {
    .block-card-menu {
      @apply opacity-100;
    }
  }
}

.block-card-menu {
  @apply flex items-center opacity-0;

  &.block-card-menu-open {
    @apply opacity-100;
  }
}

.block-card-selected {
  @apply bg-slate-100;
}

.builder-block-list,
.builder-left-sidebar,
.builder-right-sidebar {
  height: calc(100vh - 3.75rem);
}

.builder-main {
  @apply flex-1;
}

.block-root {
  @apply border-2 border-dashed border-transparent;

  &.block-root-selected {
    @apply border-green-400;
  }

  .block-root {
    @apply border-0 border-none;
  }
}

.block-herosection {
  @apply pt-32 pb-24;

  .block-image-container {
    @apply relative;
  }

  .block-upload {
    @apply min-h-[24rem];
  }

  .rich-text {
    &:empty:after {
      @apply block;
    }
  }

  .block-embed-iframe {
    @apply h-[20rem];
  }

  @media (max-width: 768px) {
    @apply pt-24 pb-[4.5rem];
  }
}

.block-herosection-center {
  @apply text-center;

  .block-image-container,
  .block-herosection-tagline {
    @apply mx-auto;
  }

  .block-embed-iframe {
    @apply h-[35rem];
  }

  @media (max-width: 768px) {
    .block-embed-iframe {
      width: 100%;
      height: 50vw;
    }
  }
}

.block-herosection-left {
  @media (min-width: 768px) {
    @apply flex items-center;

    .block-herosection-col,
    .block-herosection-image {
      @apply flex-1;
    }

    .block-herosection-image {
      .block-image {
        @apply pl-24 #{!important};
      }
    }

    .block-herosection-action {
      @apply justify-start;
    }

    .block-image-container {
      @apply w-full #{!important};
    }
  }

  @media (max-width: 768px) {
    .block-embed-iframe {
      width: 100%;
      height: 50vw;
    }
  }
}

.block-herosection-name {
  @apply mt-8;

  .rich-text {
    @apply text-5xl md:text-7xl text-slate-900 font-extrabold;
  }
}

.block-herosection-tagline {
  @apply mt-2 max-w-3xl;

  .rich-text {
    @apply text-xl md:text-2xl text-slate-500;
  }
}

.block-herosection-action {
  @apply mt-5 flex flex-col md:flex-row md:items-center md:justify-center space-x-0 space-y-4 md:space-x-4 md:space-y-0;

  @media (max-width: 768px) {
    @apply flex-1;
  }
}

.block-herosection-button {
  @apply w-full md:w-auto min-w-0;

  a,
  .rich-text {
    @apply px-4 py-2 md:px-6 md:py-3 text-base font-medium rounded-md shadow-sm cursor-text bg-green-500 text-white;

    &:empty:after {
      @apply text-white text-opacity-70;
    }
  }

  a {
    @apply block w-full cursor-pointer;
  }
}

.block-herosection-image {
  @apply mt-8 md:mt-12;

  .block-upload {
    @apply h-[16rem];
  }
}

.builder-cta-switch {
  @apply flex;

  .switch-button {
    @apply flex-1 text-xs;
  }
}

.rich-text {
  @apply py-2 outline-none text-xl leading-8;

  a {
    @apply text-green-500;
  }

  &:empty:after {
    @apply pointer-events-none text-black text-opacity-30 hidden;
    content: attr(placeholder);
  }
}

h2.rich-text {
  @apply text-5xl font-bold text-slate-900 leading-tight;
}

h3.rich-text {
  @apply text-4xl font-bold text-slate-900 leading-tight;
}

.blocks {
  @media (max-width: 768px) {
    @apply w-screen overflow-x-hidden;
  }
}

.block-container {
  @apply max-w-6xl mx-auto px-8;

    //@apply max-w-3xl mx-auto px-20;
    //
    //@media (min-width: 1250px) {
    //  @apply max-w-4xl;
    //}
    //
    //@media (min-width: 1400px) {
    //  @apply max-w-5xl;
    //}
    //
    //@media (min-width: 1500px) {
    //  @apply max-w-6xl;
    //}

  .block-container {
    @apply px-0;
  }

  .avatar {
    @apply bg-transparent;
  }

  @media (max-width: 768px) {
    @apply px-5;

    .block-container {
      @apply w-auto px-0 overflow-x-auto;
    }
  }
}

.block-header-container {
  @apply max-w-6xl py-4 md:py-6 flex items-center justify-between text-slate-700;
}

.block-header-logo {
  img {
    @apply h-8 w-auto;
  }
}

button.block-header-button {
  .button-leading {
    @apply text-slate-800 hover:text-slate-900;
  }
}

.block-selected {
  .rich-text:empty:after {
    display: block;
  }
}

.bubble-menu {
  @apply fixed;
  z-index: 9998;

  .form-container {
    @apply p-2;

    .input {
      @apply py-1.5;
    }

    button.button {
      @apply p-1.5;
    }
  }
}

.bubble-menu-container {
  @apply flex items-center divide-x divide-slate-200 space-x-1.5;

  button.button {
    @apply p-1;

    &:not(:disabled):hover {
      @apply bg-slate-100;
    }

    &.bubble-menu-active {
      &,
      &:hover {
        @apply bg-green-100;
      }
    }

    .button-leading {
      @apply text-slate-700;

      &,
      svg {
        width: 1.125rem;
        height: 1.125rem;
      }
    }
  }
}

.block-feature {
  @media (max-width: 768px) {
    @apply px-0;
  }
}

.block-feature-container {
  @apply py-16 flex items-center;

  .block-feature-col {
    @apply flex-1;

    &:nth-of-type(2) {
      @apply pl-24;
    }
  }

  &.block-feature-left {
    @apply flex-row-reverse;

    .block-feature-col {
      &:nth-of-type(2) {
        @apply pl-0 pr-24;
      }
    }
  }

  .block-upload {
    @apply bg-slate-100 text-base;
    width: 31.25rem;
    height: 18.75rem;
  }

  .block-image {
    @apply flex justify-center;

    .block-image-container {
      @apply relative;
      width: 31.25rem;
    }

    img {
      max-width: 31.25rem;
      height: auto;
    }
  }

  .block-feature-heading {
    @apply text-slate-900;
  }

  .block-context-container {
    @apply text-slate-500 leading-4;
  }

  .rich-text {
    @apply py-2 outline-none;

    &:empty:after {
      @apply block;
    }
  }

  .block-text {
    @apply text-slate-700;
  }

  @media (max-width: 1200px) {
    .block-feature-col {
      @apply w-1/2;
    }

    .block-image img {
      @apply w-full;
    }

    .block-feature-col:nth-of-type(2) {
      @apply pl-12;
    }

    &.block-feature-right {
      .block-feature-col:nth-of-type(2) {
        @apply pl-0 pr-12;
      }
    }
  }

  @media (max-width: 768px) {
    @apply py-8 space-y-4;

    &,
    &.block-feature-left,
    &.block-feature-right {
      @apply flex-col;
    }

    .block-feature-col {
      @apply w-full;
      @apply px-0 #{!important};
    }

    .rich-text {
      @apply px-5;
    }

    .block-image {
      .block-image-container {
        &,
        img {
          @apply w-full #{!important};
        }

        img {
          @apply max-w-full h-auto;
        }
      }
    }
  }
}

.block-slide-gallery-wrapper {
  @apply flex space-x-2 transition-transform;
  height: 13.75rem;

  .block-slide-gallery-item,
  .block-upload {
    width: 23rem;
    height: 13.75rem;
  }

  .block-upload {
    @apply bg-slate-100 text-base;
  }
}

.block-slide-gallery-button {
  @apply hover:bg-transparent #{!important};

  .button-leading {
    @apply w-full h-full hover:text-slate-500;

    &,
    svg {
      @apply w-6 h-6 #{!important};
    }
  }
}

.block-image-container,
.block-slide-gallery-item {
  &:hover {
    .block-image-toolbar {
      @apply opacity-100;
    }
  }
}

.block-image-toolbar {
  @apply absolute inset-0 flex items-center justify-center bg-black bg-opacity-10 opacity-0 transition-opacity will-change-auto;

  button.button {
    @apply bg-black bg-opacity-70 border-none;

    &:hover {
      @apply bg-black hover:bg-opacity-90 #{!important};
    }

    &,
    .button-leading {
      @apply text-white;
    }
  }
}

.blocks {
  .rich-text {
    &:empty:after {
      @apply block whitespace-pre;
    }
  }
}

.block-payment {
  h3.rich-text {
    @apply text-5xl font-bold text-slate-900 leading-tight;
  }

  .rich-text {
    @apply py-2 outline-none text-slate-500 leading-6;

    &:empty:after {
      @apply block;
    }
  }

  .block-list {
    @apply mt-4;

    .rich-text {
      @apply pl-8 bg-left bg-no-repeat;
      background-image: url(/static/icon-check.svg);
    }
  }
}

.block-payment-container {
  @apply flex items-center py-16;

  .block-payment-col {
    @apply flex-1;
  }

  @media (max-width: 768px) {
    @apply flex-col py-8 space-y-4;

    .block-payment-col {
      @apply flex-none w-full;
    }
  }
}

.block-emailcapture-container {
  @apply py-16;

  .rich-text {
    @apply text-center;

    &:empty:after {
      display: block;
    }
  }

  .input-disabled {
    @apply bg-transparent;

    &,
    input {
      @apply cursor-default;
    }
  }
}

.block-emailcapture-heading {
  .rich-text {
    @apply text-5xl font-extrabold;
  }
}

.block-emailcapture-description {
  @apply max-w-3xl mt-2 mx-auto;

  .rich-text {
    @apply text-slate-500;
  }
}

.block-emailcapture-content {
  @apply mt-4 flex items-center justify-center space-x-2;

  .input input {
    @apply text-base;
  }
}

.block-emailcapture-button {
  @apply w-auto min-w-0;

  .rich-text {
    @apply px-3 py-2 text-base rounded-md shadow-sm cursor-text bg-green-500 text-white;

    &:empty:after {
      @apply text-white text-opacity-70;
    }
  }
}

.block-emailcapture {
  .form-inline {
    @apply mt-4 flex flex-col space-x-0 space-y-3 md:flex-row md:items-start md:justify-center md:space-x-2 md:space-y-0;

    .form-item {
      @apply w-full md:flex-none md:w-auto;
    }

    .input input {
      @apply text-base;
    }
  }

  .form-item-error {
    @apply text-center;
  }
}

.block-faq-container {
  @apply py-16;

  .rich-text {
    @apply text-center;

    &:empty:after {
      display: block;
    }
  }

  .input-disabled {
    @apply bg-transparent;

    &,
    input {
      @apply cursor-default;
    }
  }

  .block-context-container {
    @apply mt-12 space-y-8 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10 lg:grid-cols-3;
  }
}

.block-faq-heading {
  .rich-text {
    @apply text-5xl font-extrabold;
  }
}

.block-faq-description {
  @apply max-w-3xl mt-2 mx-auto;

  .rich-text {
    @apply text-slate-500;
  }
}

.block-faq-question {
  .rich-text {
    @apply text-lg text-left leading-6 font-medium text-slate-900;
  }
}

.block-faq-answer {
  .rich-text {
    @apply py-0 text-base text-left text-slate-500;
  }
}

.block-faq-create {
}

.block-settings {
  @apply text-sm;

  .menu-label {
    @apply pb-0 text-xs cursor-default;
  }
}

.payment-successful {
  @apply flex flex-col items-center justify-center w-screen h-screen;

  .empty-states-icon {
    @apply text-9xl;
  }

  .empty-states-title {
    @apply mt-10 text-3xl text-green-600;
  }

  .empty-states-description {
    @apply mt-4 px-5 text-slate-700;
  }
}


// =================================================================================
// Slide
.slide-modal {
  @apply fixed inset-0 z-40;
}

.slide-container {
  @apply absolute inset-0 flex items-center justify-center bg-black bg-opacity-70;
}

.slide-image {
  @apply relative w-full h-4/5;
  max-width: 68.75rem;

  img {
    @apply absolute w-full h-full object-contain pointer-events-none;
  }

  @media (max-width: 768px) {
    @apply max-w-full;
  }
}

.slide-button-previous,
.slide-button-next {
  @apply p-8 flex-grow-0 flex-shrink-0 text-white opacity-50 hover:opacity-100 transition-opacity cursor-pointer;

  @media (max-width: 768px) {
    @apply p-2.5 h-full;
  }
}

.slide-button-hide {
  @apply opacity-0 pointer-events-none;
}

.slide-indicators {
  @apply absolute left-0 right-0 bottom-7 mx-auto flex items-center justify-center h-12 space-x-1;
  max-width: 56.25rem;
}

.slide-indicator {
  @apply w-2 h-2 rounded-full bg-slate-500;
}

.slide-indicator-active {
  @apply bg-white;
}

.stripe-connect-modal {
  .modal-body {
    @apply p-0 text-sm text-slate-800;
  }

  .modal-content {
    max-width: 48rem;
  }

  .stepper {
    @apply px-12 pt-12 bg-white rounded-t-md;
  }
}

.stripe-connect-modal-body {
  @apply text-sm text-slate-700 overflow-y-auto;
  height: 28rem;
}

.stripe-connect-modal-product {
  .form-inline {
    @apply mt-8 items-center;

    button.button {
      @apply ml-4;
    }
  }
}

.stripe-connect-modal-select-price {
  .select-card-container {
    @apply w-96;
  }
}

.header-modal {
  @apply h-4/5;

  .modal-body {
    @apply p-0 flex flex-col;
  }
}

.social-media-modal {
  @extend .header-modal;

  .select-value,
  .input-leading {
    @apply text-slate-700;
  }
}

.footer {
  @apply sm:flex mt-10 py-10 border-t border-slate-100 sm:justify-between justify-center;
}

.copyright {
  @apply pt-2 md:pt-0 text-base text-slate-900 text-center;
}
