@import "@heyforms/ui/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
}

.scrollbar {
  overflow-y: auto;
  overflow-y: overlay;
  scrollbar-gutter: stable;

  @media (min-width: 768px) {
    &::-webkit-scrollbar {
      height: 12px;
      width: 12px
    }

    &::-webkit-scrollbar-thumb:vertical {
      background-color: transparent;
      border-radius: 6px
    }

    &:hover::-webkit-scrollbar-thumb:vertical {
      border: 3px solid transparent;
      background-color: rgba(0, 0, 0, .2);
      background-clip: content-box;
    }

    &::-webkit-scrollbar-button:vertical {
      display: block
    }

    &::-webkit-scrollbar-button:start:decrement {
      display: block
    }

    &::-webkit-scrollbar-button:end:increment {
      display: block
    }

    &::-webkit-scrollbar-button:vertical:start:increment {
      display: none
    }

    &::-webkit-scrollbar-button:vertical:end:decrement {
      display: none
    }

    &::-webkit-scrollbar-button:vertical:increment {
      display: none
    }

    &::-webkit-scrollbar-button:vertical:decrement {
      display: none
    }

    &::-webkit-scrollbar-track:vertical {
      display: none
    }

    &::-webkit-scrollbar-track-piece {
      background-color: transparent
    }

    &::-webkit-scrollbar-corner:vertical {
      background-color: transparent
    }

    &::-webkit-scrollbar-resizer:vertical {
      background-color: transparent
    }
  }
}

@keyframes skeleton {
  from {
    background-position: 100% 50%
  }

  to {
    background-position: 0 50%
  }
}

.skeleton {
  background: linear-gradient(90deg, #e2e8f0 25%, #cbd5e1 37%, #e2e8f0 63%);
  background-size: 400% 100%;
  animation: skeleton 1.4s ease infinite;
}

.non-scaling-stroke {
  path,
  polyline,
  line {
    vector-effect: non-scaling-stroke;
  }
}

.tooltip {
  z-index: 9999;
}

.link-button {
  @apply px-4 py-2 border border-slate-300 shadow-sm sm:text-sm font-medium rounded-md text-slate-700 bg-white;
}

.table-body {
  td {
    @apply font-normal text-slate-900;
  }
}

.form-inline {
  @apply mt-1;

  .form-item-content {
    @apply mt-0;
  }
}

.root-container {
  @media (min-width: 768px) {
    padding-left: 18rem;
  }
}

// =================================================================================
// Sidebar
.sidebar {
  @media (min-width: 768px) {
    width: 18rem;
  }
}

.sidebar-popup-enter-active,
.sidebar-popup-exit {
  .sidebar-overlay {
    @apply opacity-100;
  }

  .sidebar-wrapper {
    @apply translate-x-0;
  }
}

.sidebar-popup-enter,
.sidebar-popup-exit-active,
.sidebar-popup-exit-done {
  .sidebar-overlay {
    @apply opacity-0;
  }

  .sidebar-wrapper {
    @apply -translate-x-full;
  }
}

.sidebar-popup-exit-done {
  @apply hidden #{!important};
}

// =================================================================================
// Member
.member-table {
  .table-body {
    tr {
      @apply hover:bg-transparent;
    }

    td {
      @apply px-0;
    }
  }

  .button {
    @apply px-3.5 py-1;
  }
}

// =================================================================================
// Photo picker
.photo-picker {
  .modal-body {
    @apply p-0 overflow-hidden;
  }

  .modal-close-button {
    @apply top-3 right-5;
  }

  .tabs-wrapper {
    @apply flex flex-col;
  }

  .tabs-nav-list {
    @apply px-4;
  }

  .tabs-pane-group {
    @apply h-96;
    @extend .scrollbar;
  }

  .tabs-pane {
    @apply h-full p-4;
  }

  .drag-uploader {
    @apply h-full;
  }
}

// =================================================================================
// Editor
.site-settings {
  button.switch {
    @apply h-5 w-9;
  }

  .switch-handle {
    @apply h-4 w-4;

    .spin {
      @apply w-4 h-4;
    }
  }

  button.switch-checked {
    .switch-handle {
      @apply translate-x-4;
    }
  }

  .input, .textarea {
    @apply py-1.5;
  }

  input,
  textarea {
    @apply text-sm;
  }

  .accordion-header {
    @apply px-4;
  }

  .accordion-text {
    @apply text-sm leading-6 font-medium text-slate-900;
  }

  .accordion-expand-icon {
    svg {
      @apply transition-transform will-change-transform;
    }
  }
}

.site-header {
  .logo-picker-field {
    @apply mx-auto;
  }

  .editor-name,
  .editor-tagline {
    input {
      @apply text-center;
    }
  }
}

.editor-name,
.editor-tagline {
  .input {
    @apply p-0;
    border: none;
    box-shadow: none;

    input {
      &:focus {
        outline: none;
      }
    }
  }
}

.editor-name {
  @apply mt-7;

  .input {
    input {
      @apply text-4xl text-black;
    }
  }
}

.editor-tagline {
  @apply mt-3;

  .input {
    input {
      @apply text-xl text-slate-500;
    }
  }
}

.block-container {
  @apply relative -mx-20 px-20;
  transform: translate(0, 0);

  .block-container {
    @apply px-0 mx-0;
  }

  &:hover {
    .block-actions {
      @apply opacity-100;
    }
  }
}

.block-dropzone {
  @apply absolute left-0 right-0 bottom-1 pointer-events-none hidden;

  &:after {
    @apply absolute left-20 right-20 h-1 bg-blue-200;
    content: "";
  }
}

.block-dragging {
  @apply cursor-grab #{!important};

  .block-actions {
    @apply invisible;
  }
}

.block-hovering {
  .block-dropzone {
    @apply block;
  }
}

.block-actions {
  @apply absolute top-0 left-0 flex items-center justify-end mt-3.5 pr-1 w-20 opacity-0 z-20;

  &.block-actions-active {
    @apply opacity-100;
  }

  .block-create {
    @apply h-6;
  }

  button.button {
    @apply p-0.5 rounded-sm hover:bg-slate-100;

    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }

    .button-leading {
      @apply text-slate-400 hover:text-slate-500;
    }
  }
}

.rich-text {
  @apply py-2 outline-none text-xl leading-9;

  &:empty:after {
    @apply pointer-events-none text-black text-opacity-30 hidden;
    content: attr(placeholder);
  }
}

h3.rich-text {
  @apply text-5xl font-bold text-slate-900;
}

.block-selected {
  .rich-text:empty:after {
    display: block;
  }
}

.bubble-menu {
  @apply fixed;
  z-index: 9998;

  button.button {
    @apply p-1;

    &:not(:disabled):hover {
      @apply bg-slate-100;
    }

    &.bubble-menu-active {
      &,
      &:hover {
        @apply bg-blue-100;
      }

      .button-leading {
        @apply text-blue-700;
      }
    }

    .button-leading {
      @apply text-slate-700;

      &,
      svg {
        width: 1.125rem;
        height: 1.125rem;
      }
    }
  }
}

.command-menu {
  @apply fixed;
  z-index: 9998;
}

.block-feature-container {
  @apply py-16 flex items-center;

  .block-feature-col {
    @apply flex-1;

    &:nth-of-type(2) {
      @apply pl-12;
    }
  }

  &.block-feature-align-right {
    @apply flex-row-reverse;

    .block-feature-col {
      &:nth-of-type(2) {
        @apply pl-0 pr-12;
      }
    }
  }

  .block-upload {
    @apply bg-slate-100;
    width: 31.25rem;
    height: 18.75rem;
  }

  .block-image {
    @apply flex justify-center;

    .block-image-container {
      width: 31.25rem;
    }

    img {
      max-width: 31.25rem;
      height: auto;
    }
  }

  .rich-text {
    @apply py-2 outline-none;

    &:empty:after {
      @apply block;
    }
  }

  .block-text {
    @apply text-slate-700;
  }
}

.block-slide-gallery-wrapper {
  @apply flex space-x-2 transition-transform;
  height: 13.75rem;

  .block-slide-gallery-item,
  .block-upload {
    width: 23rem;
    height: 13.75rem;
  }

  .block-upload {
    @apply bg-slate-100;
  }
}

.block-slide-gallery-button {
  @apply hover:bg-transparent #{!important};

  .button-leading {
    @apply w-full h-full hover:text-slate-500;

    &,
    svg {
      @apply w-6 h-6 #{!important};
    }
  }
}

.block-image-container,
.block-slide-gallery-item {
  &:hover {
    .block-image-toolbar {
      @apply opacity-100;
    }
  }
}

.block-image-toolbar {
  @apply absolute inset-0 flex items-center justify-center bg-black bg-opacity-10 opacity-0 transition-opacity will-change-auto;

  button.button {
    @apply bg-black bg-opacity-70 border-none;

    &:hover {
      @apply bg-black hover:bg-opacity-90 #{!important};
    }

    &,
    .button-leading {
      @apply text-white;
    }
  }
}

.blocks {
  .rich-text {
    &:empty:after {
      @apply block whitespace-pre;
    }
  }
}

.block-payment {
  .rich-text {
    @apply py-2 outline-none;

    &:empty:after {
      @apply block;
    }
  }

  .block-list {
    .rich-text {
      @apply pl-8 bg-left bg-no-repeat;
      background-image: url(/static/icon-check.svg);
    }
  }
}

.block-payment-container {
  @apply flex items-center;

  .block-payment-col {
    @apply flex-1;
  }
}

.block-settings {
  @apply text-sm;

  .menu-label {
    @apply pb-0 text-xs cursor-default;
  }

  .switch-group {
    button.switch-button {
      @apply px-1.5 py-1;

      &:focus {
        outline: none !important;
        box-shadow: none !important;
      }

      .icon {
        @apply w-5 h-5 text-slate-600;
      }
    }
  }
}


// =================================================================================
// Slide
.slide-modal {
  @apply fixed inset-0 z-40;
}

.slide-container {
  @apply absolute inset-0 flex items-center justify-center bg-black bg-opacity-70;
}

.slide-image {
  @apply relative w-full h-4/5;
  max-width: 68.75rem;

  img {
    @apply absolute w-full h-full object-contain pointer-events-none;
  }
}

.slide-button-previous,
.slide-button-next {
  @apply p-8 flex-grow-0 flex-shrink-0 text-white opacity-50 hover:opacity-100 transition-opacity cursor-pointer;
}

.slide-button-hide {
  @apply opacity-0 pointer-events-none;
}

.slide-indicators {
  @apply absolute left-0 right-0 bottom-7 mx-auto flex items-center justify-center h-12 space-x-1;
  max-width: 56.25rem;
}

.slide-indicator {
  @apply w-2 h-2 rounded-full bg-slate-500;
}

.slide-indicator-active {
  @apply bg-white;
}

.stripe-connect-modal {
  .modal-body {
    @apply p-0 text-sm text-slate-800;
  }

  .modal-content {
    max-width: 48rem;
  }

  .stepper {
    @apply px-12 pt-12 bg-white rounded-t-md;
  }
}

.stripe-connect-modal-body {
  @apply flex flex-col items-center justify-center px-24 overflow-y-auto;
  height: 24rem;
}

.stripe-connect-modal-product {
  .form-inline {
    @apply mt-8 items-center;

    button.button {
      @apply ml-4;
    }
  }
}

.stripe-connect-modal-select-price {
  .select-card-container {
    @apply w-96;
  }
}
